doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Adnan Dance Academy
    block scripts
    block style 
  body
    nav#navbar
         ul 
            div#logo 
                img(src="/static/img/logo.jpg", alt="as")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | Copyright © 2023 AdnanDanceAademy.com  | All rights reserved 

      