extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
         include ../static/style.css

block content 
    section#introSection
        div Welcome to Adnan dance academy 
        div.small Eat Sleep Dance repeat


    section#missionSection
        h2 Our mission
        .card 
            h3 Dance perfection
            .card-box 
                .card-img 
                    img(src="/static/img/1.avif")

                .card-content 
                    p This is the best dance academy of the country

        .card 
            h3 Dance as you like
            .card-box 
                .card-img 
                    img(src="/static/img/2.avif")

                .card-content 
                    p This is the best dance academy of the country


        .card 
            h3 Expert teaching
            .card-box 
                .card-img 
                    img(src="/static/img/3.avif")

                .card-content 
                     p This is the best dance academy of the country


        .card 
            h3 Expert teaching
            .card-box 
                .card-img 
                    img(src="/static/img/3.avif")

                .card-content 
                     p This is the best dance academy of the country


        .card 
            h3 Expert teaching
            .card-box 
                .card-img 
                    img(src="/static/img/3.avif")

                .card-content 
                     p This is the best dance academy of the country


        .card 
            h3 Dance as you like
            .card-box 
                .card-img 
                    img(src="/static/img/2.avif")

                .card-content 
                    p This is the best dance academy of the country

    section#sponserSection
        h2 Our sponser 
        #sponser 
            img(src="/static/img/logo1.avif", alt="Sponser Img" Class="spImage")
            img(src="/static/img/logo2.avif", alt="Sponser Img" Class="spImage")
            img(src="/static/img/logo3.avif", alt="Sponser Img" Class="spImage")
            img(src="/static/img/logo4.avif", alt="Sponser Img" Class="spImage")
